<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="Description" content="Website penyedia rekomendasi restoran tebaik di Indonesia.">
  <link rel="manifest" href="manifest.json">
  <meta name="theme-color" content="#e75b10" />
  <link rel="apple-touch-icon" href="/icons/icon-192.png">
  <link rel="icon" href="favicon.png">
  <link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'"
    href="https://fonts.googleapis.com/icon?family=Material+Icons&display=swap">
  <title>RestoLand</title>
</head>

<body>
  <skip-content></skip-content>

  <header>
    <navigation-bar></navigation-bar>
  </header>

  <main></main>

  <footer-bar></footer-bar>
</body>

</html>